---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h2>Conclusion</h2>
    <p>
      Les différents points de vue qui nous ont été exposés tout au long du
      quadrimestre via l'enquête, l'entrevue avec un expert, le débat et les
      réflexions au sein du groupe de travail nous permettent d'apporter une
      conclusion nuancée au projet. Il n'est cependant pas possible d'apporter
      une réponse à toutes les interrogations que nous avions posées en guise
      d'introduction au projet.
    </p>
    <p>
      Tout d'abord, les limites du développement des IA génératrices d'oeuvres
      sont actuellement incertaines. On peut envisager que ces dernières
      deviendront dans les mois et années à venir plus précises, plus
      pertinentes et plus à même de transmettre émotions et messages au
      spectateur. Cependant, il est difficile voire impossible de prévoir les
      perspectives de développement de ces intelligences artificielles à l'heure
      actuelle. Ledit développement sera peut-être d'ailleurs ralenti voire
      complètement arrêté par les limites technologiques ou une intervention
      humaine.
    </p>
    <p>
      Ainsi, l'avenir des œuvres générées par intelligence artificielle est
      également incertain. Vont-elles devenir incontournables et remplacer les
      œuvres des graphistes, metteurs en scène, peintres et autres compositeurs
      ? Ou vont-elles au contraire devenir rapidement anecdotiques, noyées par
      l'apparition quotidienne de millions de nouvelles œuvres sur le marché ?
      Seul l'avenir nous le dira...
    </p>
    <p>
      On peut également imaginer un futur dans lequel artistes humains et
      intelligences artificielles travaillent en étroite collaboration afin de
      produire des œuvres, l'intelligence artificielle étant alors vue comme un
      outil et non comme un artiste à part entière. Dans cette perspective,
      considérer une œuvre générée par une intelligence artificielle comme une
      œuvre d'art peut être vu comme une reconnaissance de la collaboration
      entre l'esprit humain et la technologie. C'est une manière d'embrasser le
      progrès et d'explorer de nouvelles formes d'expression artistique.
    </p>
    <p>
      Enfin, pour répondre à la question “Qu'est-ce qu'un artiste ?”, nous
      apportons la réponse suivante : selon nous, un artiste est une entité qui
      transmet de l'émotion grâce à son vécu, son histoire et ses inspirations.
      Une intelligence artificielle ne peut donc être un artiste si l'oeuvre
      qu'elle produit ne véhicule pas d'émotions.
    </p>
    <h3>Merci d'avoir suivi notre projet !</h3>

    <ul>
      <u><i> Nous terminerons par des remerciements :</i></u>
      <li>Thierry Dutoit pour son temps et son expertise</li>
      <li>Craiyon pour avoir généré notre image de couverture</li>
      <li>
        ChatGPT pour avoir écrit deux phrases de la conclusion, saurez-vous les
        retrouver ?
      </li>
    </ul>
  </main>
</Layout>

<style></style>
