---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1 class="title">Notre expert</h1>
    <section>
      <img class="photo" src="Thierry-Dutoit.png" alt="Thierry Dutoit" />
      <div>
        <h2>Thierry Dutoit</h2>
        <p>
          Afin d'étoffer notre réflexion, nous avons rencontré Thierry DUTOIT,
          Docteur en Sciences Appliquées, Professeur à la Faculté Polytechnique
          et Directeur de l'Institut Numediart de l'UMONS qui a pour mission
          d'assurer des activités de formation et de recherche dans le domaine
          des technologies créatives.
        </p>
        <p>
          <i
            >Voici ci-dessous les questions que nous lui avons posées ainsi que
            ses réponses :</i
          >
        </p>
        <h3>
          Quelle est votre définition de l'art ? Qu'est-ce qu'une œuvre d'art ?
        </h3>
        <p>
          L'art crée ou transmet des émotions, de quelque nature elles soient.
        </p>
        <p>
          Une notion importante dans l'art est celle du vécu de l'artiste, ce
          qui lui donne du cachet. Une machine n'aura jamais la personnalité et
          l'humanité d'un humain. Cette humanité est fondamentale, derrière un
          artiste se cachent une histoire et un style propres à ce dernier et
          c'est ce qui lui donne de l'intérêt. Quand on voit un Picasso, on
          s'identifie en quelque sorte à l'artiste, on se dit « j'aurais pu le
          faire moi aussi ». Quand on va voir un concert et qu'on fait de l'air
          guitar, on s'identifie à l'artiste et cette identification intensifie
          ainsi nos émotions. Un parallèle peut être fait avec la conquête
          spatiale : envoyer l'Homme sur la Lune est beaucoup plus marquant pour
          le public que d'y envoyer une machine.
        </p>
        <p>
          L'engagement n'est selon lui pas important dans l'art. Un artiste ne
          traverse pas les siècles car il est engagé mais bien grâce à son
          histoire et son style particulier.
        </p>
        <h3>
          Que pensez-vous de l'arrivée de l'IA générative sur le marché de l'art
          ?
        </h3>
        <p>
          Les résultats que produisent l'IA sont impressionnants pour les arts
          visuels. Concernant le domaine musical, ce n'est pour l'instant pas
          exceptionnel. Ça marche pour faire de la musique de fond mais c'est
          tout.
        </p>
        <p>
          En voyant plus loin, un show musical complet créé par une IA
          générative n'aurait aucun intérêt.
        </p>
        <p>
          Selon lui, les œuvres générées par IA font grand bruit actuellement
          mais perdront leur intérêt dans les années à venir, particulièrement
          dans le domaine des arts visuels.
        </p>
        <p>
          Un parallèle peut être établi avec l'arrivée des robots dans les
          compétitions d'échecs. Pendant un temps, les matchs entre robots et
          humains ont acquis un réel intérêt et un succès certain mais le public
          s'est vite désintéressé. En effet, le robot gagnait tous les matchs …
        </p>
        <p>
          Ainsi, les œuvres d'art créées par IA ne traverseront jamais les
          siècles comme certaines œuvres humaines le font.
        </p>
        <h3>L'IA est-elle une menace pour le domaine artistique ?</h3>
        <p>
          Ce qui est menaçant, ce n'est pas l'intelligence artificielle mais
          l'usage qu'on en fait. Exemple avec une polémique qui est apparue en
          2017 : le Luxembourg a confié la réalisation d'une œuvre musicale à
          une start-up spécialisée dans la génération de musique via IA au lieu
          de faire appel à de vrais compositeurs qui auraient pu bénéficier
          d'une lumière certaine.
        </p>
        <p>
          Cet usage est particulièrement menaçant pour les jeunes qui sortent
          d'écoles de graphisme et qui voient leur domaine d'activité bouleversé
          par Midjourney et DALL-E, dans la mesure où il suffit d'un simple
          prompt et de quelques secondes pour obtenir une création qui dépasse
          leurs capacités.
        </p>
        <h3>
          Un problème de la génération d'œuvres par intelligence artificielle
          est le plagiat d'œuvres existantes et créées par l'humain, qu'en
          pensez-vous ?
        </h3>
        <p>
          Ce qui différencie les œuvres humaines et les œuvres générées par IA,
          c'est encore une fois le vécu de l'auteur. Un artiste passe sa vie à
          s'inspirer de ce qu'il voit et forge son propre vécu. L'IA emmagasine
          des données et utilise tout ce savoir pour créer une réponse qui se
          veut la plus convaincante et neutre possible.
        </p>
        <h3>Comment utilisez-vous l'IA dans votre travail ?</h3>
        <p>
          Au sein du laboratoire, ses collègues utilisent ChatGPT pour diverses
          utilisations (génération d'un début de rédaction par exemple).
        </p>
        <p>
          Numediart étant un institut spécialisé dans la création d'outils liés
          au domaine des industries créatives (graphisme, architecture, théâtre,
          …), les chercheurs qui y travaillent utilisent l'IA depuis la création
          de l'institut en 2007 (réseaux de neurones convolutifs, GANs,
          attention computationnelle, etc.).
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  .photo {
    width: min(15rem, 40%);
    height: max-content;
    border-radius: 100%;
    position: sticky;
    inset: 10rem 0;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  section {
    display: flex;
    padding-block: 2rem;
    gap: 2rem;
    @media (max-width: 600px) {
      flex-wrap: wrap;
      gap: 0rem;
    }
  }

  .right {
    text-align: right;
  }
  h3 {
    font-weight: bolder;
  }
</style>
