---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HeroImage from "/hero-image.jpg";
---

<Layout>
  <main>
    <section>
      <img src={HeroImage} alt="AI generated art" />
      <h1>
        Une œuvre générée partiellement ou totalement par
        <span class="text-gradient"> l’intelligence artificielle</span>
        peut-elle être considérée comme une
        <span class="text-gradient"> œuvre d’art</span> ?
      </h1>
    </section>
    <h2 class="title">Introduction</h2>
    <p class="instructions">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi odio,
      id incidunt perferendis libero ex beatae culpa esse non ipsam
      voluptatibus, atque ipsum dolorem eveniet qui. Numquam sed repudiandae
      nobis provident odio ea officia ut facilis beatae neque sequi ex deleniti
      enim unde, saepe earum ad voluptates mollitia voluptatum, architecto
      tempora accusamus culpa? Dolores quaerat possimus sunt adipisci tempora
      maiores, ducimus quas magni vel porro quibusdam dolorem recusandae minima
      excepturi distinctio nemo at ipsum officiis esse explicabo ad. Reiciendis,
      debitis vel vitae sapiente delectus dignissimos ipsum, amet at laboriosam
      quis modi harum, temporibus facere? Vel cumque illum nihil exercitationem
      suscipit mollitia repudiandae amet tempore dolorum accusamus repellendus
      modi sit, iste, non libero adipisci optio. Tempore dignissimos numquam
      explicabo, magnam dolores itaque dolorem tenetur facilis aliquid
      consectetur repellat quod a exercitationem incidunt saepe eligendi porro
      praesentium quibusdam beatae cum eaque! Aliquid maxime ipsum recusandae
      optio, earum nulla sapiente aperiam voluptatem, debitis, culpa fuga.
      Deserunt a cum iusto obcaecati recusandae quod voluptatum, consequatur
      consequuntur dolore ipsa atque suscipit, esse repudiandae? Molestiae
      aperiam impedit magni. Asperiores sed, exercitationem at ex ullam
      laboriosam soluta sint accusamus aspernatur nostrum suscipit architecto
      maxime fugit reiciendis saepe aliquam cum, provident, tempore nobis
      quaerat neque dignissimos. Voluptates maiores dolorum aliquam asperiores
      iste modi hic deleniti nisi, tempore explicabo incidunt laudantium,
      consequuntur at ullam. Itaque temporibus harum, odio provident enim quasi
      voluptate quibusdam mollitia culpa! Officia veniam architecto neque
      reiciendis reprehenderit voluptas animi ipsa nulla nobis fuga soluta ad
      quas, facilis est, quod qui id. Minima enim accusamus debitis, ratione qui
      sunt exercitationem atque magnam explicabo culpa earum cupiditate, nihil
      veritatis eos dolorem nostrum quaerat cum? Doloribus cupiditate dolorum
      explicabo nesciunt dicta molestiae, voluptates voluptate excepturi
      deserunt, quas sunt voluptatibus? Harum obcaecati adipisci, reiciendis
      nostrum dolor pariatur laborum voluptatum voluptatem veritatis quis
      quisquam. Ea impedit accusamus tempora numquam doloremque natus fugit fuga
      tenetur quas totam. Est rerum ipsam, ducimus sunt quia pariatur eveniet
      similique corrupti quod aliquam, beatae reprehenderit, reiciendis numquam
      aperiam nihil! Laborum sed eveniet asperiores magni facere praesentium a
      sit? Minima ea optio vero consequuntur ipsa magnam, aspernatur maiores
      vitae voluptates ab tempora officiis similique amet voluptate obcaecati
      quam inventore? Aspernatur officiis iste accusamus doloremque pariatur
      mollitia recusandae quisquam illo iure sunt dolore, sed inventore,
      deleniti nobis laborum molestiae voluptatum? Ipsum accusamus quas
      voluptatum, corrupti nostrum incidunt labore dolorum provident asperiores
      possimus deleniti doloremque dolorem perspiciatis totam numquam dolore
      iusto fugiat tenetur maxime exercitationem deserunt? Odio, porro.
    </p>
  </main>
</Layout>

<style>
  section {
    width: 100%;
    position: relative;
    height: 62vh;
    overflow: hidden;
  }
  section img {
    position: absolute;
    top: 0;
    left: 0;

    width: 80%;
  }

  section h1 {
    position: absolute;
    bottom: 0;
    right: 0;

    font-size: 3rem;
    font-weight: 800;
    line-height: 3.5rem;

    margin: 0;
    padding: 1.5rem 2rem;

    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgb(var(--blue-color));

    border: 0.5rem solid;
    border-radius: 1rem;
    width: 80%;
    max-width: 40rem;

    animation: 1s ease-out 0s 1 InFromRight;

    @media (max-width: 900px) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  @keyframes fadeInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    /* top | left and right | bottom */
    margin: 1rem 0 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
