---
import Layout from "../layouts/Layout.astro";
import HeroImage from "/hero-image.jpg";
---

<Layout>
  <main>
    <section>
      <img src={HeroImage} alt="AI generated art" />
      <h1>
        Une œuvre générée partiellement ou totalement par
        <span class="text-gradient"> l'intelligence artificielle</span>
        peut-elle être considérée comme une
        <span class="text-gradient">œuvre d'art</span> ?
      </h1>
    </section>
    <div class="instructions">
      <p>
        An de grâce 2035. Suite au développement exponentiel et sans limite des
        intelligences artificielles génératives destinées au grand public, le
        marché de l'art s'est retrouvé complètement bouleversé par l'arrivée des
        œuvres générées par IA. La performance technique et les émotions
        véhiculées par l'humain ayant perdu leur sens, le public s'est peu à peu
        désintéressé de l'art, lassé de voir le marché inondé chaque jour de
        millions de nouvelles œuvres.
      </p>
      <p>
        Graphistes, metteurs en scène, peintres, compositeurs et autres corps de
        métier se sont ainsi retrouvés du jour au lendemain relégués au second
        rang derrière des machines qui effectuent leur travail créatif en mieux,
        pour moins cher et en un temps record.
      </p>
      <p>
        Cet avenir, quelque peu romancé certes, est-il souhaitable ? Au fond,
        qu'est-ce que l'art ? Et qu'est-ce qui fait d'une œuvre une “œuvre
        d'art” ? Un artiste doit-il posséder une humanité ? Si une toile blanche
        ou un tas de briques peuvent être considérées comme des œuvres d'art,
        alors pourquoi un tableau généré par intelligence artificielle ne le
        serait pas ?
      </p>
      <p>
        Voilà les questions auxquelles nous allons tenter de répondre au travers
        de notre sujet d'étude : "Une œuvre générée partiellement ou totalement
        par l'intelligence artificielle peut-elle être considérée comme une
        œuvre d'art ?"
      </p>
    </div>
  </main>
</Layout>

<style>
  section {
    width: 100%;
    position: relative;
    height: 62vh;
    overflow: hidden;
  }
  section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  section h1 {
    position: absolute;
    bottom: 0rem;
    right: 0rem;

    font-size: 3rem;
    font-weight: 800;
    line-height: 3.5rem;

    margin: max(0.5rem, 1%) max(0.5rem, 2%);
    padding: 1.5rem 2rem;

    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgb(var(--blue-color));

    border: 0.5rem solid;
    border-radius: 1rem;
    max-width: 40rem;

    animation: 1s ease-out 0s 1 InFromRight;

    @media (max-width: 900px) {
      font-size: 2.5rem;
      line-height: 3rem;
    }

    @media (max-width: 650px) {
      font-size: 1.5rem;
      line-height: 2rem;
      padding: 0.5rem 1rem;
    }
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    /* top | left and right | bottom */
    margin: 1rem 0 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 0 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
