<footer>
  <div class="wrapper">
    <div>
      Réalisé dans le cadre du cours de Questions d'éthique en IA et en NTIC de
      la Faculté Polytechnique de Mons.
    </div>
    <div>
      Par Rodrigue Deghorain, Rémy Lempire, Harrison Nguyen, Hugo Lorenzoni.
    </div>
    <div>© 2023 Copyright</div>
    <div class="logo">
      <img src="/logo-polytech.png" alt="logo polytech" />
      <img src="/logo-UMONS.png" alt="logo UMONS" />
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: rgb(var(--blue-color));
    color: white;
  }
  .wrapper {
    margin: auto;
    max-width: 80rem;
    padding: 1rem 1.5rem;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .logo img {
    width: 15rem;
  }
</style>
